// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }
    .vote, .anwser {
        width: 60 px;
        height: 60px;
    }
}

.status {
    &.unanswered {
        // class="status unanswered"
        border: none;
    }

    &.answered {
        // define $color-green from _variables.scss
        border: 1px solid $color-green;
        color: $color-green;
    }

    &.answered-accepted {
        background: $color-green;
        color: $white;
    }

    .view {
        margin-top: 10px;
    }
}
