// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**************************************************************************************/
/*                                 Setup of FontAwesome                               */
/**************************************************************************************/

// FontAwesome from node_modules repository
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';     //
@import '~@fortawesome/fontawesome-free/scss/solid.scss';           // fas
@import '~@fortawesome/fontawesome-free/scss/brands.scss';          // fab

// Look for folder from public directory to generate font folder for FontAwesome [optonal]
$fa-font-path: "../webfonts";

/**************************************************************************************/
/*                                  End of FontAwesome                                */
/**************************************************************************************/

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }
    .vote, .anwser {
        width: 60 px;
        height: 60px;
    }
}

.status {
    &.unanswered {
        // class="status unanswered"
        border: none;
    }

    &.answered {
        // define $color-green from _variables.scss
        border: 1px solid $color-green;
        color: $color-green;
    }

    &.answered-accepted {
        background: $color-green;
        color: $white;
    }

    .view {
        margin-top: 10px;
    }
}

form.form-delete {
    display: inline;
}

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;       // reference from "/node_modules/bootstrap/scss/_variables.scss"

    span, a {
        display: block;
    }

    span {
        &.votes-count {
            font-size:25px;
        }
        &.favorites-count {
            font-size:12px;
        }
    }
}
